<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" 
"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="t" class="beans.Test" scope="">
		<property name="gender" value="Mr."/> 
		<!-- not possible to send different value for the same name in a different property tag -->
	</bean>
</beans>