<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-2.5.xsd">

<!-- 	<context:component-scan base-package="bean"/> -->
	
	<context:annotation-config/> 
<!-- 	<bean id="engine" class="beans.Engine"> -->
<!-- 		<property name="modelYear" value="2021"/> -->
<!-- 	</bean> -->
	<bean id="e1" class="beans.Engine">
		<property name="modelYear" value="2020"/>
	</bean>
	<bean id="e2" class="beans.Engine">
		<property name="modelYear" value="2022"/>
	</bean>
	<bean id="c" class="beans.Car"/>
</beans>
