<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>chapter17.1_Filters1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>FilterEx</filter-name>
    <filter-class>controller.FilterEx</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterEx</filter-name>
    <url-pattern>/servurl</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ServletEx</servlet-name>
    <servlet-class>controller.ServletEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEx</servlet-name>
    <url-pattern>/servurl</url-pattern>
  </servlet-mapping>
</web-app>