<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>chapter12.1_Cookies</display-name>
	<welcome-file-list>
		<welcome-file>personal.html</welcome-file>
	</welcome-file-list>
	<servlet> 
		<servlet-name>s1</servlet-name> 
		<servlet-class>controller.FirstServ</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>s1</servlet-name> 
		<url-pattern>/firstserv</url-pattern> 
	</servlet-mapping> 
	<servlet> 
		<servlet-name>s2</servlet-name> 
		<servlet-class>controller.SecondServ</servlet-class> 
	</servlet>  	
	<servlet-mapping> 
		<servlet-name>s2</servlet-name> 
		<url-pattern>/secondserv</url-pattern> 
	</servlet-mapping> 
	<servlet>  	
		<servlet-name>s3</servlet-name> 
		<servlet-class>controller.FinalServ</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>s3</servlet-name> 
		<url-pattern>/finalserv</url-pattern> 
	</servlet-mapping> 
</web-app>
