<web-app>
<servlet>
<servlet-name>FirstServlet</servlet-name>
<servlet-class>HydJobsServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>SecondServlet</servlet-name>
<servlet-class>BangaloreJobsServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>ThirdServlet</servlet-name>
<servlet-class>PuneJobsServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>FirstServlet</servlet-name>
<url-pattern>/test1</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SecondServlet</servlet-name>
<url-pattern>/test2</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ThirdServlet</servlet-name>
<url-pattern>/test3</url-pattern>
</servlet-mapping>
</web-app>
