<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>chapter08.07_ServletConfig2</display-name>
  <servlet>
    <display-name>DataBase Servlet</display-name>
    <servlet-name>dbs</servlet-name>
    <servlet-class>controller.DBServlet</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/studentdb</param-value>
    </init-param>
    <init-param>
      <param-name>table</param-name>
      <param-value>student</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbs</servlet-name>
    <url-pattern>/dbservlet</url-pattern>
  </servlet-mapping>
</web-app>