<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>chapter08.07_ServletConfigContext</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<display-name>Student Registration Form</display-name>
		<servlet-name>SRS</servlet-name>
		<servlet-class>controller.StudentRegistrationServlet</servlet-class>
		<init-param>
			<param-name>user</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>pwd</param-name>
			<param-value>root</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SRS</servlet-name>
		<url-pattern>/stdreg</url-pattern>
	</servlet-mapping>
	 
	<servlet>
		<display-name>Course Registration Form</display-name>
		<servlet-name>CRS</servlet-name>
		<servlet-class>controller.CourseRegistrationServlet</servlet-class>
		<init-param>
			<param-name>user</param-name>
			<param-value>newuser</param-value>
		</init-param>
		<init-param>
			<param-name>pwd</param-name>
			<param-value>newuser@09</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	 
	<servlet-mapping>
		<servlet-name>CRS</servlet-name>
		<url-pattern>/crsreg</url-pattern>
	</servlet-mapping>
	 
	<context-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost:3306/studentcourseregdb</param-value>
	</context-param>
</web-app>
