<web-app>   
<servlet>   
<servlet-name>DemoServlet</servlet-name>   
<servlet-class>InitializeParameterDemoServlet</servlet-class>   
<init-param>   
<param-name>PhoneNumber</param-name>   
<param-value>9848012345</param-value>   
</init-param>   
<init-param>   
<param-name>MailId</param-name>   
<param-value>durgaocjp@gmail.com</param-value>   
</init-param>   
<init-param>   
<param-name>UserName</param-name>   
<param-value>scott123</param-value>   
</init-param>
</servlet>   
<servlet-mapping>   
<servlet-name>DemoServlet</servlet-name>   
<url-pattern>/test</url-pattern>   
</servlet-mapping>   
</web-app>   
